$greenLight: "#a2ce3b";
$greenDark: "#658226";

.newsletter {
    margin-top: 150px;
    height: 280px;
    padding: 70px 0;
    background-image: linear-gradient(to right, #a2ce3b, #658226);

    .row {
        height: 100%;
        display: flex;
        text-align: center;
        padding: 0;
    }

    .col {
        margin: auto 0;
    }

    .left-div {
        // text-align: left;
    }

    input {
        height: 46px;
        border-radius: 0.25rem;
        border-color: #93bd32;
        width: 30%;
        padding: 7px;
    }

    button {
        margin-left: 15px;
        background: #93bd32 !important;
        border-color: #93bd32 !important;
        padding: 10px 16px;
    }
}
